[Unit]
Description=Make the screen backlight work

[Service]
ExecStart=setpci -v -H1 -s 00:01.00 BRIDGE_CONTROL=0
Restart=always
RestartSec=0

[Install]
WantedBy=default.target
