[Unit]
Description=Offline msmtp

[Service]
ExecStart=/usr/bin/offlinemsmtp --daemon --send-mail-file /home/sumner/tmp/offlinemsmtp-sendmail
Restart=always
RestartSec=0

[Install]
WantedBy=default.target
