[Unit]
Description=Synchronize Calendar and Contacts

[Service]
ExecStart=/usr/bin/env vdirsyncer sync
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
