# vim: set ft=toml:

theme = "slick"
icons = "awesome"

# Number of emails that are in my outbox, waiting to be sent.
[[block]]
block = "custom"
command = "echo  $(ls ~/.offlinemsmtp-outbox | wc -l)"
interval = 10

[[block]]
block = "maildir"
interval = 10
inboxes = [
    "/home/sumner/Mail/Personal/INBOX",
    "/home/sumner/Mail/Mines/INBOX",
    "/home/sumner/Mail/Gmail/INBOX",
    "/home/sumner/Mail/TEF/INBOX",
]
threshold_warning = 25
threshold_critical = 50

[[block]]
block = "toggle"
text = "Send Email?"
command_state = "ls ~/tmp/offlinemsmtp-sendmail >/dev/null && echo 'Send Email'"
command_on = "touch ~/tmp/offlinemsmtp-sendmail"
command_off = "rm ~/tmp/offlinemsmtp-sendmail"
interval = 5

[[block]]
block = "memory"
format_mem = "{Mug}GiB"
format_swap = "{SUg}GiB"
warning_mem = 90
warning_swap = 90
critical_mem = 95
critical_swap = 95

[[block]]
block = "music"
player = "sublimemusic"
{{- if eq .chezmoi.hostname "jedha" }}
buttons = ["play", "next"]
{{- else if eq .chezmoi.hostname "coruscant" }}
buttons = ["prev", "play", "next"]
{{- end }}

{{ if eq .chezmoi.hostname "jedha" }}
[[block]]
block = "backlight"
{{ end }}

[[block]]
block = "toggle"
text = "TTD"
command_state = "nmcli con show --active | grep 'TTD Denver'"
command_on = "nmcli con up id 'TTD Denver'"
command_off = "nmcli con down id 'TTD Denver'"
interval = 5

[[block]]
block = "toggle"
text = "CSM"
command_state = "nmcli con show --active | grep 'Mines VPN'"
command_on = "nmcli con up id 'Mines VPN'"
command_off = "nmcli con down id 'Mines VPN'"
interval = 5

[[block]]
block = "toggle"
text = "WG"
command_state = "nmcli con show --active | grep 'Wireguard'"
command_on = "nmcli con up id Wireguard"
command_off = "nmcli con down id Wireguard"
interval = 5

# Ping time
[[block]]
block = "custom"
command = 'printf "P: %s" $(~/bin/parse-rolling-ping.sh)'
interval = 1

[[block]]
block = "net"
{{- if eq .chezmoi.hostname "jedha" }}
device = "wlp4s0"
{{- else if eq .chezmoi.hostname "coruscant" }}
device = "wlp35s0"
{{- end }}
ssid = true
ip = true
speed_down = false
graph_down = false
speed_up = false
graph_up = false
interval = 5
hide_missing = true
hide_inactive = true

[[block]]
block = "net"
{{- if eq .chezmoi.hostname "jedha" }}
device = "enp0s31f6"
{{- else if eq .chezmoi.hostname "coruscant" }}
device = "enp37s0"
{{- end }}
ip = true
speed_down = false
graph_down = false
speed_up = false
graph_up = false
interval = 5
hide_missing = true
hide_inactive = true

{{- if eq .chezmoi.hostname "coruscant" }}
[[block]]
block = "custom"
command = '[[ "$(~/bin/current_audio_device)" =~ "PCM2704 16-bit stereo audio DAC" ]] && echo  ||  echo  '
on_click = "~/bin/toggle_audio"
interval = 5
{{- end }}

[[block]]
block = "sound"
step_width = 2

[[block]]
block = "time"
format = "%F %R:%S"
interval = 1

{{ if eq .chezmoi.hostname "jedha" }}
[[block]]
block = "battery"
interval = 30
format = "{percentage}% {time}"
device = "BAT0"

[[block]]
block = "battery"
interval = 30
format = "{percentage}% {time}"
device = "BAT1"
{{ end }}

[[block]]
block = "toggle"
text = "DND"
command_state = "ls ~/tmp/dnd >/dev/null && echo 'DND'"
command_on = "notify-send 'DUNST_COMMAND_PAUSE' && touch ~/tmp/dnd"
command_off = "notify-send 'DUNST_COMMAND_RESUME' && rm ~/tmp/dnd && "
interval = 60
