# vim: ft=i3config
# sway config file (v4)

# VARIABLES
# =============================================================================

{{ if eq .chezmoi.hostname "mustafar" }}
# Use Alt on mustafar
set $mod Mod1
{{ else }}
# Use Super on all other machines
set $mod Mod4
{{ end -}}
set $term alacritty
set $gap 7

set $left h
set $down j
set $up k
set $right l

# Workspace names
set $workspace1 "1: "
set $workspace2 "2"
set $workspace3 "3"
set $workspace4 "4"
set $workspace5 "5"
set $workspace6 "6"
set $workspace7 "7"
set $workspace8 "8"
set $workspace9 "9"
set $workspace10 "10"
set $workspace11 "11: "
set $workspace12 "12: "

set $swaylockcmd swaylock \
        --screenshots \
        --clock \
        --indicator \
        --indicator-radius 100 \
        --indicator-thickness 7 \
        --effect-blur 7x5 \
        --effect-vignette 0.7:0.7 \
        --fade-in 0.5

# Hardware Configuration
# =============================================================================
# Scale to 1.75 instead of 2.
output eDP-1 scale 1.75

input * {
    # Use 3l for all keyboards that get attached
    xkb_layout us
    xkb_variant 3l

    # Get right click (2 finger) and middle click (3 finger) on touchpad
    click_method clickfinger

    # Always use natural scrolling
    natural_scroll enabled
}

input 1:1:AT_Translated_Set_2_keyboard {
    # Use 3l-cros on the internal keyboard
    xkb_layout us
    xkb_variant 3l-cros
}

# Don't scroll so fast
input 1739:52731:Synaptics_TM3579-001 scroll_factor 0.75

# Map the inputs so rotation works.
input 11551:157:WCOM50C1:00_2D1F:009D map_to_output eDP-1
input 0:0:Elan_Touchscreen map_to_output eDP-1

# UI Chrome
# =============================================================================

font Iosevka 10
hide_edge_borders both
default_border pixel 0
gaps inner $gap

# Start swaybar to display a workspace bar (plus the system information swaystatus
# finds out, if available)
bar {
    font pango:Iosevka, FontAwesome 12
    position top
    status_command i3status-rs ~/.config/i3status-rust/config-top.toml
    colors {
        background #00000090
        separator #aaaaaa
    }
}

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# Desktop Background
exec_always systemctl --user import-environment
exec_always --no-startup-id ~/bin/set_wallpaper.sh

# Opacity
exec --no-startup-id ~/bin/inactive-windows-transparency.py

# GTK
set $gnome-schema org.gnome.desktop.interface

exec_always {
    gsettings set $gnome-schema gtk-theme 'Arc-Dark'
    gsettings set $gnome-schema icon-theme 'Arc'
    gsettings set $gnome-schema cursor-theme 'breeze_cursors'
}

# Cursor niceness
mouse_warping container
seat * hide_cursor 2000

# Key Bindings
# =============================================================================

# MOVEMENT
# change focus
bindsym $mod+$left focus left
bindsym $mod+$right focus right
bindsym $mod+$up focus up
bindsym $mod+$down focus down

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# WORKSPACES
# switch to workspace
bindsym $mod+1 workspace $workspace1
bindsym $mod+2 workspace $workspace2
bindsym $mod+3 workspace $workspace3
bindsym $mod+4 workspace $workspace4
bindsym $mod+5 workspace $workspace5
bindsym $mod+6 workspace $workspace6
bindsym $mod+7 workspace $workspace7
bindsym $mod+8 workspace $workspace8
bindsym $mod+9 workspace $workspace9
bindsym $mod+0 workspace $workspace10
bindcode $mod+20 workspace $workspace11
bindcode $mod+21 workspace $workspace12

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $workspace1
bindsym $mod+Shift+2 move container to workspace $workspace2
bindsym $mod+Shift+3 move container to workspace $workspace3
bindsym $mod+Shift+4 move container to workspace $workspace4
bindsym $mod+Shift+5 move container to workspace $workspace5
bindsym $mod+Shift+6 move container to workspace $workspace6
bindsym $mod+Shift+7 move container to workspace $workspace7
bindsym $mod+Shift+8 move container to workspace $workspace8
bindsym $mod+Shift+9 move container to workspace $workspace9
bindsym $mod+Shift+0 move container to workspace $workspace10
bindcode $mod+Shift+20 move container to workspace $workspace11
bindcode $mod+Shift+21 move container to workspace $workspace12

# LAYOUT MANIPULATION
# split in horizontal/vertical orientation
bindsym $mod+semicolon split h
bindsym $mod+v split v

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle
bindsym --release button2 floating toggle

# focus the parent container
bindsym $mod+a focus parent

# RESIZE
mode "  " {
    # These bindings are for when in resize mode as soon as you enter the resize mode

    # Pressing left will shrink the window’s width.
    # Pressing right will grow the window’s width.
    # Pressing up will shrink the window’s height.
    # Pressing down will grow the window’s height.
    bindsym $left resize shrink width 10 px or 10 ppt
    bindsym $right resize grow width 10 px or 10 ppt
    bindsym $up resize shrink height 10 px or 10 ppt
    bindsym $down resize grow height 10 px or 10 ppt

    # same bindings, but for the arrow keys
    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt

    # back to normal: Enter, Escape, or the same keybinding out
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}

bindsym $mod+r mode "  "

# GAPS
bindsym $mod+F3 gaps inner all set 0
bindsym $mod+Shift+F3 gaps inner all set $gap

# EXITING AND RELOADING
# kill focused window
bindsym $mod+Shift+Q kill

# restart sway in-place (preserves your layout/session, can be used to upgrade sway)
bindsym $mod+Shift+R reload
# exit sway (logs you out of your session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'

# LAUNCHERS
# start a terminal
bindsym $mod+Return exec $term

# Launch mutt
bindcode $mod+34 exec ~/bin/mutt_helper.sh

# Launch Element
bindcode $mod+35 exec element-desktop

# start dmenu (a program launcher)
bindsym $mod+d exec rofi -show run
bindsym F4 exec = -- -lines 3
bindsym F3 exec rofi-pass -- -i
bindsym $mod+space exec rofi -show drun -show-icons
bindsym $mod+c exec clipman pick -t rofi \
    --histpath="~/.cache/clipman.json"

# Screenshot
bindsym $mod+shift+c exec grim -g "$(slurp)" ~/tmp/$(date +%Y-%m-%d-%T).png
bindsym $mod+shift+ctrl+c exec grim ~/tmp/$(date +%Y-%m-%d-%T).png

# FUNCTION KEYS
bindsym F6 exec brightnessctl s 5%-
bindsym F7 exec brightnessctl s 5%+
bindsym $mod+F6 exec brightnessctl -d chromeos::kbd_backlight s 1%-
bindsym $mod+F7 exec brightnessctl -d chromeos::kbd_backlight s 1%+
bindsym XF86AudioLowerVolume exec amixer set Master playback 2%-
bindsym XF86AudioRaiseVolume exec amixer set Master playback 2%+

# Program classes
# =============================================================================

for_window [instance="pinentry"] floating enable
for_window [title="Firefox - Sharing Indicator"] floating enable

# Default Workspaces
# =============================================================================

# Browsers
assign [class="Pale moon"] $workspace1
assign [class="Firefox"] $workspace1

# Chat Clients
assign [class="discord"] $workspace11
assign [class="Element"] $workspace11
assign [class="HexChat"] $workspace11
assign [class="quassel"] $workspace11
assign [class="Slack"] $workspace11
assign [class="Telegram"] $workspace11
assign [title="Mutt"] $workspace11

# Music
assign [class="sublime-music"] $workspace12
for_window [class="Spotify"] move container to workspace $workspace12

# Screensaver/Lock
bindsym $mod+Shift+x exec $swaylockcmd
# exec --no-startup-id xautolock -time 5 -locker '~/bin/fuzzy_lock_sleep.sh' -corners +000 -cornerdelay 3 -cornerredelay 10000 &

# Auto-Start Programs
# =============================================================================

# Clipboard manager
exec wl-paste -t text --watch clipman store --histpath="~/.cache/clipman.json"
exec wl-paste -p -t text --watch clipman store -P --histpath="~/.cache/clipman.json"

exec --no-startup-id mako

## External monitor
#exec_always --no-startup-id ~/bin/display-configuration.sh

# We've arrived at the Sway session, tell systemd that we are done.
exec systemctl --user start sway-session.target
